
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Witheny', sans-serif;
}

.hcontainer{
    height: 4rem;
    background-color: darkorange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

ul{
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

li{
    padding: 0.3rem;
}

.logo{
    width: 110px;
    height: 25px;
}